# Core
numpy==1.26.4

# TensorFlow
tensorflow==2.16.1

# Visualization
matplotlib==3.8.4

# ML utilities
scikit-learn==1.4.2

# Imaging
Pillow==10.3.0

# Config
PyYAML==6.0.1

python-box==6.0.2

gdown==6.1.0


joblib==1.5.3

mlflow==2.22.5

-e .
